// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-light: #f4f4f4,
  white-smoke: #f2f2f2,
  white-f1f6ff: #f1f6ff,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #278b10,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  gray-ebebeb: #ebebeb,
  gray-e1e1e1: #e1e1e1,
  gray-676767: #676767,
  gray-dadada: #dadada,
  gray-252525: #252525,
  gray-d7d7d7: #d7d7d7,
  black-1e1e1e: #1e1e1e,
  black-131313: #131313,
  black-161616: #161616,
  black-1d1d1d: #1d1d1d,
  black-1b1b1b: #1b1b1b,
  black-363535: #363535,
  red-df342f: #df342f,
  red-e22d2d: #e22d2d,
  gray-b0b0b0: #b0b0b0,
  gray-c1c1c1: #c1c1c1,
  gray-c2c2c2: #c2c2c2,
  gray-f0f0f0:#f0f0f0,
  gray-f6f6f6: #f6f6f6,
  gray-f9f9f9: #f9f9f9,
  black-light:#222222,
  green: #7ab827,
  yellow-fed019: #fed019,
  blue-0e4e8f: #0e4e8f,
  sky-b8e7f7: #b8e7f7,
  milk-ddd6d1: #ddd6d1
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, black-1e1e1e),
    hover: map-get($colors, mine-shaft)
  ),
  secondary: (
    default: map-get($colors, red-e22d2d),
    hover: map-get($colors, red-df342f),
  ),
  accent: (
    default: map-get($colors, black-1e1e1e),
    hover: map-get($colors, mine-shaft),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, black-1e1e1e),
  secondary: map-get($colors, red-e22d2d),
);

$colors-background: (
  primary: (
    default: map-get($colors, black-1e1e1e),
    hover: map-get($colors, mine-shaft)
  ),
  secondary: (
    default: map-get($colors, red-e22d2d),
    hover: map-get($colors, red-df342f)
  ),
  tertiary: map-get($colors, suva-gray)
);
