<template>
  <div class="sidebar">
    <div class="main-filter-sidebar">
      <div class="filter-block availability">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Availability') }}
          <span class="arrow" />
        </h2>
        <Availability />
      </div>
      <div class="filter-block select-type">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Select Type') }}
          <span class="arrow" />
        </h2>
        <select-type />
      </div>
      <div class="filter-block brands">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Brands') }}
          <span class="arrow" />
        </h2>
        <brands />
      </div>
      <div class="filter-block life-stage">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Lifestage') }}
          <span class="arrow" />
        </h2>
        <life-stage />
      </div>
      <div class="filter-block pet-size">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Pet Size') }}
          <span class="arrow" />
        </h2>
        <pet-size />
      </div>
      <div class="filter-block health-benefits">
        <h2 class="filter-title roboto extra-bold">
          {{ $t('Health Benefits') }}
          <span class="arrow" />
        </h2>
        <health-benefits />
      </div>
      <!-- <h4 class="sidebar__header relative pt35 mb20 flex">
        <span> {{ $t('Filter') }} </span>
        <span
          class="weight-400 sidebar__header__clear pointer sans-serif flex lh25"
          @click="resetAllFilters"
          v-show="hasActiveFilters"
        >
          <i class="material-icons cl-accent mr5">
            cancel
          </i>
          {{ $t('Clear filters') }}
        </span>
      </h4> -->
      <!-- <div
        v-for="(filter, filterIndex) in availableFilters"
        :key="filterIndex"
      >
        <h5>
          {{ $t(filterIndex + '_filter') }}
        </h5>

        <div v-if="filterIndex==='color'">
          <color-selector
            context="category"
            code="color"
            v-for="(color, index) in filter"
            :key="index"
            :variant="color"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else-if="filterIndex==='size'">
          <size-selector
            context="category"
            code="size"
            class="size-select mr10 mb10"
            v-for="(size, index) in sortById(filter)"
            :key="index"
            :variant="size"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else-if="filterIndex==='price'">
          <price-selector
            context="category"
            class="price-select mb10 block"
            code="price"
            v-for="(price, index) in filter"
            :key="index"
            :id="price.id"
            :from="price.from"
            :to="price.to"
            :content="price.label"
            :variant="price"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
        <div v-else class="sidebar__inline-selecors">
          <generic-selector
            context="category"
            class="mr10 mb10 block"
            :code="filterIndex"
            v-for="(option, index) in filter"
            :key="index"
            :variant="option"
            :selected-filters="getCurrentFilters"
            @change="$emit('changeFilter', $event)"
          />
        </div>
      </div> -->
      <!-- add the custom controls to other available filters set in config.products.defaultFilters; must be numeric field in ES
      <div v-if="filters.erin_recommends && filters.erin_recommends.length">
        <h5>
          {{ $t('Erin recommends') }}
        </h5>
        <div
          class="size-select mr10 mb10"
          v-for="(er, index) in filters.erin_recommends"
          :key="index"
          :id="er.id"
          :label="er.label"
        >{{ er.label }}</div>
      </div>
      -->
    </div>
  </div>
</template>

<script>
// import ColorSelector from 'theme/components/core/ColorSelector'
// import SizeSelector from 'theme/components/core/SizeSelector'
// import PriceSelector from 'theme/components/core/PriceSelector'
// import GenericSelector from 'theme/components/core/GenericSelector'
import Availability from 'theme/components/core/blocks/Filters/Availability'
import SelectType from 'theme/components/core/blocks/Filters/SelectType'
import Brands from 'theme/components/core/blocks/Filters/Brands'
import LifeStage from 'theme/components/core/blocks/Filters/LifeStage'
import PetSize from 'theme/components/core/blocks/Filters/PetSize'
import HealthBenefits from 'theme/components/core/blocks/Filters/HealthBenefits'
import pickBy from 'lodash-es/pickBy'

export default {
  data () {
    return {
      isActive: false
    }
  },
  components: {
    // ColorSelector,
    // SizeSelector,
    // PriceSelector,
    // GenericSelector,
    Availability,
    SelectType,
    Brands,
    LifeStage,
    PetSize,
    HealthBenefits
  },
  props: {
    filters: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    }
  },
  methods: {
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  position: sticky;
  top: 318px;
  &__header {
    justify-content: space-between;
    min-height: 47px;
    flex-wrap: wrap;
    &__clear {
      font-size: .8em;
      min-width: 102px;
      @media only screen and (min-width: 768px) and (max-width: 770px) {
        margin-top: 20px;
      }
    }
  }
  &__inline-selecors {
    display: flex;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray: color(gray);
$gray-c2c2c2: color(gray-c2c2c2);
$forest-green: color(forest-green);
$blue-0e4e8f: color(blue-0e4e8f);
.main-filter-sidebar{
  overflow: auto;
  height: calc(100vh - 318px);
  .filter-block{
    border-bottom: solid 1px $gray-c2c2c2;
    padding: 0 50px 30px;
    .data-block{
      .item-row{
        display: flex;
        align-items: center;
        padding-bottom: 30px;
        strong{
          padding-left: 20px;
          color: #504f4f;
          font-size: 22px;
          span{
            color: $gray;
            font-size: 16px;
            font-weight: 400;
            &.blue{
              font-weight: 600;
              color: $blue-0e4e8f;
            }
          }
        }
      }
    }
    &.availability{
      .data-block{
        .item-row{
          strong{
            span{
              font-weight: 600;
              color: $blue-0e4e8f;
            }
          }
        }
      }
    }
  }
  .filter-title{
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    margin: 50px 0;
    span{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -10px;
      width: 14px;
      height: 14px;
      transform: rotate(135deg);
      border-color: #504f4f;
    }
  }
}
.select-box{
  background: transparent;
  border: solid 1px $gray-c2c2c2;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  position: relative;
  &.active{
    border-color: $forest-green;
    background: $forest-green;
    &::after{
      content: '';
      border: solid 2px #fff;
      border-left: 0;
      border-bottom: 0;
      width: 15px;
      height: 9px;
      display: block;
      position: absolute;
      transform: rotate(130deg);
      top: 5px;
      left: 4px;
    }
  }
}
</style>
