<template>
  <div class="sub-categories-carousel relative">
    <div v-for="(subCategory, index) in subCategoriesCarousel" :key="index">
      <div class="container align-center">
        <h2>
          {{ subCategory.name }}
        </h2>
        <p>
          {{ subCategory.description }}
        </p>
      </div>
      <div class="sub-categories-swiper align-center">
        <swiper class="swiper flex" :options="swiperOption">
          <swiper-slide v-for="(categoryList, indx) in subCategory.sub_category_list" :key="indx">
            <router-link :to="categoryList.link">
              <img :src="categoryList.image" alt="">
              <h3>{{ categoryList.name }}</h3>
            </router-link>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import subCategoriesCarousel from 'theme/resource/sub-categories-carousel.json'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      subCategoriesCarousel: subCategoriesCarousel,
      swiperOption: {
        slidesPerView: 6,
        spaceBetween: 34,
        breakpoints: {
          1560: {
            slidesPerView: 6,
            spaceBetween: 34
          },
          1160: {
            slidesPerView: 5,
            spaceBetween: 25
          },
          767: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          575: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          0: {
            slidesPerView: 2,
            spaceBetween: 20
          }
        }
      }
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-ebebeb: color(gray-ebebeb);
$gray-d7d7d7: color(gray-d7d7d7);
$white-f1f6ff: color(white-f1f6ff);

.sub-categories-carousel{
  padding: 60px 0 80px;
  h2{
    padding-bottom: 20px;
  }
  p{
    max-width: 960px;
    margin: 0 auto 0;
    padding-bottom: 50px;
  }
}
.sub-categories-swiper{
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  .swiper-slide{
    a{
      border: solid 1px $gray-d7d7d7;
      border-radius: 15px;
      display: block;
      padding: 15px 10px 30px;
      color:$color-primary;
      h3{
        font-size: 18px;
        padding: 15px 0 0 0;
      }
      img{
        border-radius: 100%;
        filter: grayscale(100%);
        max-width: 100%;
      }
      &:hover{
        background: $white-f1f6ff;
        img{
          filter: grayscale(0);
        }
      }
    }
  }
  @media (max-width: 767px) {
    padding: 0 60px;
    .swiper-container{
      overflow: visible;
    }
  }
}
</style>
