<template>
  <div id="category">
    <div class="category-promotional-banner bg-cl-yellow-fed019 brdr-bottom-1 brdr-cl-gray-c1c1c1">
      <div class="container">
        <breadcrumbs class="breadcrumbs-list" />
        <div class="promotional-banner d-flex" v-for="(promotionalBanner, index) in categoryPromotionalBanner" :key="index">
          <div class="banner-info">
            <h2>{{ promotionalBanner.title }}</h2>
            <h3>{{ promotionalBanner.subtitle }}</h3>
            <p>{{ promotionalBanner.description }}</p>
          </div>
          <div class="banner-img">
            <img :src="promotionalBanner.image" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      <SubCategoriesCarousel class="brdr-bottom-1 brdr-cl-gray-c2c2c2" />
    </div>
    <div class="">
      <div class="flex">
        <div class="col-md-3 p0 start-xs category-filters brdr-right-1 brdr-cl-gray-c2c2c2">
          <sidebar :filters="getAvailableFilters" @changeFilter="changeFilter" />
        </div>
        <div class="col-md-3 start-xs mobile-filters" v-show="mobileFilters">
          <div class="close-container absolute w-100">
            <i class="material-icons p15 close cl-accent" @click="closeFilters">close</i>
          </div>
          <sidebar class="mobile-filters-body" :filters="getAvailableFilters" @changeFilter="changeFilter" />
          <div class="relative pb20 pt15">
            <div class="brdr-top-1 brdr-cl-primary absolute divider w-100" />
          </div>
          <button-full
            class="mb20 btn__filter"
            @click.native="closeFilters"
          >
            {{ $t('Filter') }}
          </button-full>
        </div>
        <div class="col-md-9 p0 products-list bg-cl-gray-f9f9f9">
          <div class="sorting-row">
            <p class="count-items roboto">
              {{ $t('{count} items', { count: getCategoryProductsTotal }) }}
              found in:
              <strong>
                Dry Dog Food
                <span class="close-icon" />
              </strong>
            </p>
            <!-- <div class="sorting col-sm-2 align-right mt50">
              <label class="mr10">{{ $t('Columns') }}:</label>
              <columns @change-column="columnChange" />
            </div> -->
            <div class="sorting">
              <sort-by
                :has-label="true"
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
          </div>
          <div class="row m0">
            <button
              class="col-xs-5 mt25 mr15 p15 mobile-filters-button bg-cl-th-accent brdr-none cl-white h5 sans-serif fs-medium-small"
              @click="openFilters"
            >
              {{ $t('Filters') }}
            </button>
            <div class="mobile-sorting col-xs-6 mt25">
              <sort-by
                @change="changeFilter"
                :value="getCurrentSearchQuery.sort"
              />
            </div>
          </div>
          <div v-if="isCategoryEmpty" class="hidden-xs">
            <h4 data-testid="noProductsInfo">
              {{ $t('No products found!') }}
            </h4>
            <p>{{ $t('Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!') }}</p>
          </div>
          <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
            <product-listing :columns="defaultColumn" :products="getCategoryProducts" />
          </lazy-hydrate>
          <product-listing v-else :columns="defaultColumn" :products="getCategoryProducts" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import Sidebar from '../components/core/blocks/Category/Sidebar.vue'
import ProductListing from '../components/core/ProductListing.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import SortBy from '../components/core/SortBy.vue'
import { isServer } from '@vue-storefront/core/helpers'
import { Logger } from '@vue-storefront/core/lib/logger'
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers'
import config from 'config'
import Columns from '../components/core/Columns.vue'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll'
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import categoryPromotionalBanner from 'theme/resource/category-promotional-banner.json'
import SubCategoriesCarousel from 'theme/components/theme/blocks/Category/SubCategoriesCarousel'

const THEME_PAGE_SIZE = 50

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params)
    const cachedCategory = store.getters['category-next/getCategoryFrom'](route.path)
    const currentCategory = cachedCategory && !forceLoad ? cachedCategory : await store.dispatch('category-next/loadCategory', { filters })
    const pageSize = store.getters['url/isBackRoute'] ? store.getters['url/getCurrentRoute'].categoryPageSize : THEME_PAGE_SIZE
    await store.dispatch('category-next/loadCategoryProducts', { route, category: currentCategory, pageSize })
    const breadCrumbsLoader = store.dispatch('category-next/loadCategoryBreadcrumbs', { category: currentCategory, currentRouteName: currentCategory.name, omitCurrent: true })

    if (isServer) await breadCrumbsLoader
    catalogHooksExecutors.categoryPageVisited(currentCategory)
  } catch (e) {
    Logger.error('Problem with setting Category initial data!', 'category', e)()
  }
}

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy,
    Columns,
    SubCategoriesCarousel
  },
  mixins: [onBottomScroll],
  data () {
    return {
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      categoryPromotionalBanner: categoryPromotionalBanner.categoryPromotionalBanner
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products')
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category')
    await composeInitialPageState(store, route)
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next() // SSR no need to invoke SW caching here
    else if (!from.name) { // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async vm => {
        vm.loading = true
        await composeInitialPageState(vm.$store, to, true)
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }) // await here is because we must wait for the hydration
        vm.loading = false
      })
    } else { // Pure CSR, with no initial category state
      next(async vm => {
        vm.loading = true
        vm.$store.dispatch('category-next/cacheProducts', { route: to })
        vm.loading = false
      })
    }
  },
  methods: {
    openFilters () {
      this.mobileFilters = true
    },
    closeFilters () {
      this.mobileFilters = false
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [filterVariant])
    },
    columnChange (column) {
      this.defaultColumn = column
    },
    async onBottomScroll () {
      if (this.loadingProducts) return
      this.loadingProducts = true
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts')
      } catch (e) {
        Logger.error('Problem with fetching more products', 'category', e)()
      } finally {
        this.loadingProducts = false
      }
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, name, slug } = this.getCurrentCategory
    const meta = meta_description ? [
      { vmid: 'description', name: 'description', content: htmlDecode(meta_description) }
    ] : []
    /* const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href */

    return {
      // link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    }
  }
}
</script>

<style lang="scss" scoped>
  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: calc(100vw - 8px);
    bottom: 20px;
    left: -36px;
  }
  .category-filters {
    width: 242px;
  }

  .mobile-filters {
    display: none;
    overflow: auto;
  }

  .mobile-filters-button {
    display: none;
  }

  .mobile-sorting {
    display: none;
  }

  .category-title {
    line-height: 65px;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 64em) {
    .products-list {
      max-width: 530px;
    }
  }

  @media (max-width: 770px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: block;
      height: 45px;
    }

    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;
    }

    .mobile-filters {
      position: fixed;
      background-color: #F2F2F2;
      z-index: 5;
      padding: 0 40px;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
      box-sizing: border-box;
    }

    .mobile-filters-body {
      padding-top: 50px;
    }
  }

  .close-container {
    left: 0;
  }

  .close {
    margin-left: auto;
  }
</style>
<style lang="scss">
.product-image {
  max-height: unset !important;
}
.breadcrumbs-list{
  padding: 25px 0;
  .right-arrow{
    margin: 0 10px 0 5px;
  }
}
.category-promotional-banner{
  .promotional-banner{
    align-items: flex-end;
    .banner-img{
      margin-top: 20px;
      width: 51%;
      img{
        display: block;
        max-width: 100%;
      }
    }
    .banner-info{
      padding-left: 85px;
      padding-bottom: 75px;
      width: 49%;
      h2{
        font-size: 76px;
        padding-bottom:20px;
      }
      h3{
        font-size: 33px;
        padding-bottom:15px;
      }
      p{
        font-size: 23px;
        line-height: 1.3;
      }
    }
    @media (max-width: 1360px) {
      .banner-info{
        padding-left: 45px;
        h2{
          font-size: 55px;
          padding-bottom:10px;
        }
        h3{
          font-size: 29px;
        }
        p{
          font-size: 20px;
        }
      }
    }
    @media (min-width: 992px) {
      .banner-info{
        order: 2;
      }
    }
    @media (max-width: 992px) {
      &.d-flex{
        display: block;
      }
      .banner-img{
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .banner-info{
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
  @media (max-width: 767px) {
    .breadcrumbs-list{
      display: none;
    }
    .promotional-banner{
      .banner-info{
        padding-top: 25px;
      }
    }
  }
}
.sorting-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 80px 5px;
  .count-items{
    font-size: 22px;
    margin: 0;
    > strong{
      padding-left: 15px;
    }
  }
  .close-icon{
    background: url(/assets/icons/close-icon.png);
    width: 21px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
}
.product-listing{
  padding: 0 65px;
  > div{
    padding-top: 40px;
    padding-bottom: 40px;
    &:nth-child(4),
    &:nth-child(7){
      .offer-banner{
        display: block;
      }
      .product{
        display: none;
      }
    }
  }
}
</style>
