<template>
  <div class="category-promotional-bar-sec">
    <div class="container">
      <ul class="category-promotional-bar-menu flex center-xs">
        <li v-for="(category, index) in categories" :key="index">
          <router-link :to="categoryLink(category)">
            {{ category.name }}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import config from 'config';

export default {
  computed: {
    ...mapGetters('category-next', ['getMenuCategories']),
    getCategories () {
      return this.getMenuCategories
    },
    categories () {
      return this.getCategories.filter((op) => {
        if (op.include_in_menu === 1) {
          return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2)
        }
      })
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-ebebeb: color(gray-ebebeb);

.category-promotional-bar-sec {
  border-top: 1px solid $gray-ebebeb;
  padding: 15px 0;
  font-size: 22px;
  line-height: 2;
  font-family: "Gotham";
  font-weight: 900;

  @media (max-width: 767px) {
    font-size: 20px;
    padding: 17px 0;
  }
}

.category-promotional-bar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  li {
    padding: 0 3%;
    margin: 5px 0;

    @media (max-width: 991px) {
      padding: 0 2%;
    }

    @media (max-width: 767px) {
      padding: 0 3%;
    }
  }
}
</style>
