<template>
  <footer class="site-footer">
    <category-promotional-bar />
    <div class="footer-top" v-if="!isCheckoutPage">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-4">
            <div class="row">
              <div class="col-xs-12 col-xl-10">
                <newsletter-widget v-if="!isCheckoutPage" />
                <div class="social-icon-list">
                  <div class="social-icon-item">
                    <a href="https://www.facebook.com/jollyesuk/" class="block" target="_blank">
                      <img class="block" src="/assets/facebook.svg" alt="Facebook">
                    </a>
                  </div>
                  <div class="social-icon-item">
                    <a href="https://twitter.com/Jollyestweets" class="block" target="_blank">
                      <img class="block" src="/assets/twitter.svg" alt="Twitter">
                    </a>
                  </div>
                  <div class="social-icon-item">
                    <a href="http://www.youtube.com/channel/UCjrWd00daY_O_JKya1dAZEA" class="block" target="_blank">
                      <img class="block" src="/assets/youtube.svg" alt="Youtube">
                    </a>
                  </div>
                </div>
                <div class="footer-trustpilot">
                  <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="5491653600006400057c36c3" data-style-height="110" data-style-width="184" data-theme="dark">
                    <a href="https://uk.trustpilot.com/review/jollyes.co.uk" target="_blank" rel="noopener">Trustpilot</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-8">
            <footer-navigation />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row middle-lg between-lg">
          <div class="col-xs-12 col-lg-6 col-xl-7">
            {{ $t('&copy; Copyright 2020,') }}
            <router-link to="/">
              {{ $t('Jollyes') }}
            </router-link>
            {{ $t('- The Pet Superstore. All rights reserved.') }}
          </div>
          <div class="col-xs-12 col-lg-6 col-xl-5">
            <div class="payment-icon-list">
              <div class="payment-icon-item">
                <img src="/assets/paypal-icon.png" alt="Paypal">
              </div>
              <div class="payment-icon-item">
                <img src="/assets/americanexpress-icon.png" alt="American Express">
              </div>
              <div class="payment-icon-item">
                <img src="/assets/visa-icon.png" alt="Visa">
              </div>
              <div class="payment-icon-item">
                <img src="/assets/mastercard-icon.png" alt="Mastercard">
              </div>
              <div class="payment-icon-item">
                <img src="/assets/maestro-icon.png" alt="Maestro">
              </div>
              <div class="payment-icon-item">
                <img src="/assets/comodosecure-icon.png" alt="Comodo Secure">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-mine-shaft :bg-cl-th-secondary py10 px10">
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z" fill="white" />
        </svg>
      </button>
    </back-to-top>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
import CategoryPromotionalBar from './CategoryPromotionalBar'
import NewsletterWidget from './NewsletterWidget'
import FooterNavigation from './FooterNavigation'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    }
  },
  components: {
    BackToTop,
    CategoryPromotionalBar,
    NewsletterWidget,
    FooterNavigation
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$black-131313: color(black-131313);
$black-1d1d1d: color(black-1d1d1d);
$white: color(white);

.footer-top {
  background-color: $black-131313;
  color: $white;
  padding-top: 110px;
  padding-bottom: 85px;

  @media (max-width: 991px) {
    padding-top: 64px;
    padding-bottom: 0;
  }
}

.icon {
  transition: 0.3s all;
}

.social-icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: $color-secondary;
    }
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 991px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.bottom-links {
  @media (max-width: 991px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 991px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.underline {
  &:hover {
    color: $color-secondary;
    &:after {
      background-color: $color-secondary;
    }
  }
}
.legal-entity-link {
  text-align: center;
  @media (min-width: 991px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 991px) {
    display: none;
  }
}

.footer-bottom {
  background-color: $black-1d1d1d;
  color: $white;
  line-height: 1.3;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 300;
  padding: 25px 0;

  @media (max-width: 991px) {
    text-align: center;
    font-size: 16px;
    padding: 45px 0;
  }

  a {
    color: $white;

    &:hover {
      color: $color-secondary;
    }
  }

  .payment-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: -15px;
    margin-right: -15px;
    line-height: 1;

    @media (max-width: 991px) {
      justify-content: center;
      margin-top: 28px;
    }

    .payment-icon-item {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 5px;
      margin-bottom: 5px;

      img {
        display: block;
      }
    }
  }
}

.social-icon-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -13px;
  margin-right: -13px;

  @media (max-width: 991px) {
    justify-content: center;
    margin-left: -21px;
    margin-right: -21px;
  }

  @media (max-width: 575px) {
    margin-left: -10px;
    margin-right: -10px;
  }

  .social-icon-item {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (max-width: 991px) {
      padding-left: 21px;
      padding-right: 21px;
    }

    @media (max-width: 575px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    a {
      img {
        @media (max-width: 991px) {
          width: 71px;
        }

        @media (max-width: 575px) {
          width: auto;
        }
      }

      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

@media (max-width: 595px) {
  .no-mobile {
    display: none;
  }

  .social {
    margin-top: 0;
  }

  .footer-links {
    padding-bottom: 30px;
  }
}
</style>

<style lang="scss" scoped>
.footer-trustpilot {
  @media (max-width: 991px) {
    padding-bottom: 65px;
  }

  .trustpilot-widget {
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
    }
  }
}
</style>
