<template>
  <div class="footer-quick-nav">
    <div class="row">
      <div class="col-xs-12 col-lg-4" v-for="(navItem, index) in footerNavigation" :key="index">
        <div class="acc-menu is-open" :class="['accordion-'+index]" :ref="'accordion-'+index">
          <h2 class="footer-menu-title accordion-header" @click="toggleAccordion(index)">
            {{ navItem.name }}
            <div class="accordion-arrow-wrap">
              <img class="accordion-arrow" src="/assets/downArrow.svg" alt="Down Arrow">
            </div>
          </h2>
          <div class="accordion-body">
            <ul class="footer-menu">
              <li v-for="(child, indx) in navItem.children_data" :key="indx">
                <router-link :to="child.link">
                  {{ child.name }}
                </router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import footerNavigation from 'theme/resource/footer-navigation.json'

export default {
  data () {
    return {
      footerNavigation: footerNavigation
    }
  },
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  methods: {
    toggleAccordion (index) {
      if (screen.width <= 991) {
        this.$refs['accordion-' + index][0].classList.toggle('is-open');
      }
    },
    toggleAccordionOnResize () {
      if (screen.width > 991) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.add('is-open');
        });
      } else {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    },
    toggleAccordionOnMount () {
      if (screen.width <= 991) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-dadada: color(gray-dadada);
$color-secondary: color(secondary);
$gray-252525: color(gray-252525);

.accordion-body {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease all;
}

.is-open .accordion-body {
  max-height: 2000px;
}

.acc-menu {
  @media (max-width: 991px) {
    border-top: 1px solid $gray-252525;
  }
}

.footer-menu-title {
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;

  @media (max-width: 991px) {
    padding: 35px 57px;
    font-size: 24px;
    margin-bottom: 0;
    cursor: pointer;
  }

  @media (max-width: 575px) {
    padding: 35px 0;
  }
}

.accordion-arrow-wrap {
  margin-left: 20px;
  line-height: 0;
}

.accordion-arrow {
  width: 16px;
  height: 9px;
  display: none;
  transition: all 0.3s ease 0s;

  @media (max-width: 991px) {
    display: inline-flex;
  }
}

.is-open {
  .accordion-arrow {
    transform: rotate(180deg);
  }
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "GothamBook";
  font-size: 20px;
  color: $gray-dadada;

  @media (max-width: 991px) {
    padding: 0 57px 35px;
    font-size: 18px;
  }

  @media (max-width: 575px) {
    padding: 0 0 35px;
  }

  li + li {
    margin-top: 25px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  a {
    color: $gray-dadada;
    line-height: 1.2;

    &:hover {
      color: $color-secondary;
    }
  }
}
</style>
