<template>
  <div class="newsletter-widget">
    <h2 class="widget-title">
      {{ $t('Offers & advice direct to your inbox') }}
    </h2>
    <div class="widget-content">
      <form @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
        <div class="newsletter-field-wrap">
          <base-input
            type="email"
            name="email"
            v-model="email"
            autocomplete="email"
            :placeholder="$t('Your email')"
            :validations="[
              {
                condition: $v.email.$error && !$v.email.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <button-full
            type="submit"
            :disabled="this.$v.$invalid"
            @click.native="$v.email.$touch"
          >
            {{ $t('Sign Up') }}
          </button-full>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import i18n from '@vue-storefront/i18n'

import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'

export default {
  beforeDestroy () {
    this.$off('validation-error')
  },
  methods: {
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully subscribed to our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput
  },
  mixins: [
    SubscriptionStatus, Subscribe
  ]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-e1e1e1: color(gray-e1e1e1);
$gray-676767: color(gray-676767);
$white: color(white);

.newsletter-widget {
  font-family: "Gotham";
  margin-bottom: 35px;

  @media (max-width: 991px) {
    padding: 0 7.3%;
    text-align: center;
    margin-bottom: 55px;
  }

  @media (max-width: 575px) {
    padding: 0;
  }

  .widget-title {
    font-weight: 900;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 35px;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 575px) {
      margin-bottom: 25px;
    }
  }

  input:not([type="submit"]):not([type="button"]) {
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $gray-e1e1e1;
    font-family: "GothamBook";
    color: $gray-676767;
    padding: 20px 30px;
    height: 65px;
    line-height: 65px;
    font-size: 19px;
    font-weight: 400;
  }

  .base-input {
    margin-bottom: 23px;

    input:not([type="submit"]):not([type="button"]) + label {
      font-family: "GothamBook";
      color: $gray-676767;
      font-size: 19px;
      font-weight: 400;
      left: 30px;
      transform: translateY(-40%);
      top: 50%;
    }

    input:not([type="submit"]):not([type="button"]):focus ~ label, input:not(.empty):not([type="submit"]):not([type="button"]) ~ label {
      font-size: 13px;
      transform: translateY(-15%);
      top: 15%;
      color: $color-secondary;
    }
  }

  .button-full {
    font-size: 21px;
    font-family: "Gotham";
    font-weight: 900;
    border-radius: 8px;
  }

  .newsletter-field-wrap {
    @media (max-width: 991px) {
      position: relative;

      .base-input {
        margin-bottom: 0;
      }

      input:not([type="submit"]):not([type="button"]) {
        height: 80px;
        line-height: 80px;
        font-size: 20px;
        border-radius: 40px;
        padding-right: 180px;
      }

      .button-full {
        border-radius: 0 40px 40px 0;
        height: 80px;
        position: absolute;
        top: 0;
        right: 0;
        width: 170px;
      }
    }

    @media (max-width: 575px) {
      input:not([type="submit"]):not([type="button"]) {
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        border-radius: 30px;
        padding-right: 120px;
      }

      .button-full {
        border-radius: 0 30px 30px 0;
        height: 60px;
        width: 110px;
        font-size: 18px;
      }
    }
  }
}
</style>
