@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-ebebeb: color(gray-ebebeb);
$gray-c2c2c2: color(gray-c2c2c2);
$white: color(white);
$coffee: color(coffee);
$red-hover: color(red-e22d2d);
$black-light: color(black-light);
$black-363535: color(black-363535);
$white-light: color(white-light);

/* Font family */
$Agenor:'Agenor';
$GothamBlack:'GothamBlack';
$Gotham:'Gotham';

*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  color: $white;
  background-color: $color-secondary;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

:empty {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1750px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-footer .container {
  max-width: 1602px;
}

.common-btn {
  border: none !important;
  border-radius: 50px;
  background: #df342f;
  font-family: 'Agenor';
  line-height: 130%;
  min-width: 190px;
  font-size: 18px;
  font-weight: 900;
  padding: 24px 10px 15px;
  height: auto;
  width: auto;
  display: table;
  margin: 0 auto;
  transition: all 0.5s linear;
}

button,
input[type="submit"],
input[type="button"] {
  transition: all 0.5s ease;
}

ul{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}

a {
  color: $color-primary;
  transition: all 0.5s ease;

  &.router-link-exact-active,
  &:hover {
    color: $color-secondary;
    text-decoration: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit !important;
}

h1, h2, h3, h4, h5, h6, p, ul{
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  line-height: 1.6;
  display: block;
  margin: 0 0 15px;
  @media (max-width: 767px) {
    font-size: 14px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.text-red {
  color: $color-secondary;
}

.btn {
  border: 0;
  border-radius: 50px;
  background-color: $color-secondary;
  color: $white;
  font-family: 'Agenor';
  font-size: 18px;
  font-weight: 900;
  line-height: 1.3;
  padding: 25px 35px 16px;
  text-align: center;
  display: inline-flex;
  transition: all 0.5s linear;
  margin: 0;
  &.small{
    font-size: 16px;
    padding: 15px 25px;
  }
  &.large {
    font-size: 27px;    
    font-family: $Gotham;
    padding: 25px 60px 28px;
    @media (max-width: 1600px) {
      font-size: 24px;
    }
    @media (max-width: 1023px) {
      font-size: 16px;
      padding: 20px 60px 23px;
    }
  }
  &:hover {
    opacity: 0.9;
  }
  @media (max-width: 1280px) {
    font-size: 18px;
  }
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1280px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.heading {
  font-size: 62px;
  @media (max-width: 1440px) {
    font-size: 46px;
  }
  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

.sub-heading {
  font-size: 52px;
  color: $black-light;
  @media (max-width: 1440px) {
    font-size: 42px;
  }
  @media (max-width: 1024px) {
    font-size: 32px;
  }
}

.bg-gray {
  background-color: $white-light;
}

.main-title {
  font-size: 37px;
  @media (max-width: 1280px) {
    font-size: 30px;
  }
  @media (max-width: 575px) {
    font-size: 24px;
  }
}
.arrow{
  border: solid 2px #000;
  border-left: 0;
  border-bottom: 0;
  width: 9px;
  height: 9px;
  display: inline-flex;
  transform: rotate(45deg);
}
.right-arrow{
  border: solid 2px #000;
  border-left: 0;
  border-bottom: 0;
  width: 9px;
  height: 9px;
  display: inline-flex;
  transform: rotate(45deg);
}

.select1{
  border: solid 1px $gray-c2c2c2;
  border-radius: 6px;
  background: #fff url(/assets/icons/gray-down-arrow.png) no-repeat right 18px center;
  color: $black-363535;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 18px 25px;
  height: auto;
  line-height: 1;
  position: relative;
  appearance: none;
}