// Global styles for text
body {
  font-size: 16px;
  font-family: 'GothamBook';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Gotham';
  font-weight: 900;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 40px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

/* Font family for text */
.gotham{
  font-family: 'Gotham';
}
.GothamBook{
  font-family: 'GothamBook';
}
.agenor{
  font-family: 'Agenor';
}
.poppins{
  font-family: 'Poppins';
}
.montserrat{
  font-family: 'Montserrat', sans-serif;
}
.roboto{
  font-family: 'Roboto', sans-serif;
}

// Atomic styles for text
.uppercase {
  text-transform: uppercase;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
.medium{
  font-weight: 500;
}
.semi-bold{
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
.extra-bold{
  font-weight: 900;
}
.lh16 {
  line-height: 16px;
}
.lh20 {
  line-height: 20px;
}
.lh25 {
  line-height: 25px;
}
.lh30 {
  line-height: 30px;
}
.lh35 {
  line-height: 35px;
}
.lh40 {
  line-height: 40px;
}
