<template>
  <div class="data-block">
    <div class="item-row" v-for="(availabilityText, index) in availabilityFilter" :key="index">
      <button class="select-box" />
      <strong class="roboto">
        {{ $t( availabilityText.name ) }}
        <span>
          {{ $t( availabilityText.count ) }}
        </span>
      </strong>
    </div>
  </div>
</template>

<script>
import availabilityFilter from 'theme/resource/filter/availability.json'
import NoSSR from 'vue-no-ssr';

export default {
  components: {
  },
  data () {
    return {
      availabilityFilter: availabilityFilter.availabilityFilter
    }
  }
}
</script>
<style lang="scss">
</style>
