<template>
  <div class="data-block">
    <div class="brand-search-box">
      <i class="search-icon" />
      <input type="text" name="" value="" placeholder="Search...">
    </div>
    <div class="brands-list">
      <div class="item-row" v-for="(brands, index) in brandsFilter" :key="index">
        <button class="select-box" />
        <strong class="roboto">
          {{ $t( brands.name ) }}
          <span>
            ({{ $t( brands.count ) }})
          </span>
        </strong>
      </div>
    </div>
    <button class="all-brands roboto cl-red-df342f semi-bold">
      {{ $t('See all brands') }}
    </button>
  </div>
</template>

<script>
import brandsFilter from 'theme/resource/filter/brands.json'
import NoSSR from 'vue-no-ssr';

export default {
  components: {
  },
  data () {
    return {
      brandsFilter: brandsFilter.brandsFilter
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-c2c2c2: color(gray-c2c2c2);
.all-brands{
  border: 0;
  background: transparent;
  font-size: 22px;
}
.brand-search-box{
  position: relative;
  margin-bottom: 30px;
  i{
    background: url(/assets/icons/gray-search-icon.png) no-repeat;
    width: 24px;
    height: 24px;
    left: 17px;
    top: 17px;
    position: absolute;
  }
  input{
    border: solid 1px $gray-c2c2c2;
    color: $gray-c2c2c2;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px 0 60px;
  }
}
</style>
