<template>
  <div class="data-block">
    <div class="item-row" v-for="(healthBenefits, index) in healthBenefitsFilter" :key="index">
      <button class="select-box" />
      <strong class="roboto">
        {{ $t( healthBenefits.name ) }}
        <span>
          ({{ $t( healthBenefits.count ) }})
        </span>
      </strong>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import healthBenefitsFilter from 'theme/resource/filter/health-benefits.json'

export default {
  components: {
  },
  data () {
    return {
      healthBenefitsFilter: healthBenefitsFilter.healthBenefitsFilter
    }
  }
}
</script>
<style lang="scss">
</style>
