<template>
  <div class="data-block">
    <div class="item-row" v-for="(lifeStage, index) in lifeStageFilter" :key="index">
      <button class="select-box" />
      <strong class="roboto">
        {{ $t( lifeStage.name ) }}
        <span>
          ({{ $t( lifeStage.count ) }})
        </span>
      </strong>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import lifeStageFilter from 'theme/resource/filter/life-stage.json'

export default {
  components: {
  },
  data () {
    return {
      lifeStageFilter: lifeStageFilter.lifeStageFilter
    }
  }
}
</script>
<style lang="scss">
</style>
