<template>
  <div class="data-block">
    <div class="item-row" v-for="(petSize, index) in petSizeFilter" :key="index">
      <button class="select-box" />
      <strong class="roboto">
        {{ $t( petSize.name ) }}
        <span>
          ({{ $t( petSize.count ) }})
        </span>
      </strong>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import petSizeFilter from 'theme/resource/filter/pet-size.json'

export default {
  components: {
  },
  data () {
    return {
      petSizeFilter: petSizeFilter.petSizeFilter
    }
  }
}
</script>
<style lang="scss">
</style>
