<template>
  <div class="offer-banner bg-cl-yellow-fed019 align-center gotham">
    <p>
      {{ $t('Need Help Looking For') }}
    </p>
    <h2>
      {{ $t('Dog Food?') }}
    </h2>
    <button class="btn small">
      {{ $t('Expert Advice') }}
    </button>
    <img src="/assets/offer-img1.png" alt="">
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';

export default {
  components: {
  },
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red-df342f: color(red-df342f);

.offer-banner{
  width: 100%;
  display: none;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 50px 20px 0;
  position: relative;
  overflow: hidden;
  p{
    margin: 0;
  }
  h2{
    margin: 0 0 15px;
  }
  button{
    text-transform: capitalize;
    font-family: 'Gotham';
  }
  img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
  }
}
</style>
