<template>
  <span class="special-offer">
    <strong class="extra-bold">Special offer!</strong>
    <span>Save an extra £100</span>
  </span>
</template>

<script>
import NoSSR from 'vue-no-ssr';

export default {
  name: 'SpecialOffer',
  components: {
  },
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red-df342f: color(red-df342f);

.special-offer{
  color: $red-df342f;
  border: solid 2px $red-df342f;
  font-size: 14px;
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
</style>
