<template>
  <div class="main-menu brdr-bottom-1 bg-cl-white brdr-cl-gray-c1c1c1">
    <div class="container menu-header-links">
      <ul class="flex center-xs gotham extra-bold">
        <li
          class="head-category-list"
          v-for="(category, index) of categories"
          :class="{'has-children' : category.children_count > 0}"
          :key="index"
        >
          <router-link
            data-testid="categoryButton"
            :to="categoryLink(category)"
            @mouseover.native="children(category.children_data)"
          >
            <span>{{ category.name }}</span>
          </router-link>
        </li>
      </ul>
      <!-- {{fetchSubCategories.length}} -->
      <!-- <div v-if="fetchSubCategories.length > 0">
        {{ fetchSubCategories }}
      </div> -->
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import config from 'config';

export default {
  name: 'CategoryMenu',
  data () {
    return {
      subCategories: []
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    ...mapState({
      submenu: state => state.ui.submenu,
      path: state => state.ui.submenu.path
    }),
    ...mapGetters('category-next', ['getMenuCategories']),
    getCategories () {
      return this.getMenuCategories
    },
    categories () {
      return this.getCategories.filter((op) => {
        if (op.include_in_menu === 1) {
          return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
        }
      })
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    },
    fetchSubCategories () {
      return this.subCategories;
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    children (childrenData) {
      // const child =  this.getChildrenData();
      this.subCategories = childrenData
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
.main-menu{
  ul{
    list-style-type: none;
    .head-category-list{
      font-size: 22px;
      text-transform: uppercase;
      padding: 30px 32px;
      a{
        display: flex;
        align-items: center;
      }

      &.has-children {
        a{
          padding-right: 40px;
          &::after{
            content: '';
            display: inline-block;
            background: url(/assets/icons/down-arrow.png) no-repeat;
            width: 16px;
            height: 9px;
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1360px) {
    ul{
      .head-category-list{
        padding: 20px 15px;
        a{
          font-size: 18px;
        }
        &.has-children {
          a{
            padding-right: 30px;
          }
        }
      }
    }
  }
  @media (max-width: 1160px) {
    ul{
      .head-category-list{
        a{
          font-size: 16px;
          &::after{
            margin-left: 9px;
            background-size: 100% auto;
            width: 12px;
            height: 7px;
          }
        }
      }
    }
  }
}
</style>
