<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none inline-flex p0"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <i class="material-icons">dehaze</i>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
<style lang="scss" scoped>
.material-icons{
  font-size: 40px;
  @media (max-width: 576px) {
    font-size: 34px;
  }
}
</style>
