<template>
  <div class="header">
    <header
      class="fixed w-100"
      :class="{ 'is-visible': navVisible }"
    >
      <TopPromotionalBar />
      <div class="main-header brdr-bottom-1 bg-cl-white brdr-cl-gray-c1c1c1">
        <div class="container">
          <div class="row middle-xs" v-if="!isCheckoutPage || isThankYouPage">
            <div class="col-md-2 col-xs-5 flex middle-xs">
              <hamburger-icon class="visible-xs pointer" />
              <logo width="auto" height="auto" />
            </div>
            <div class="col-md-6 col-xs-7 search-icon" :class="isMSearchInput ? 'col-xs-10' : 'end-xs'">
              <search-icon class="pointer" :is-mobile-search="isMSearchInput" />
            </div>
            <div class="col-md-4 col-xs-2 end-xs hidden-xs">
              <div class="inline-flex right-icons">
                <store-locator class="pointer" />
                <account-icon class="pointer" />
                <microcart-icon class="pointer" />
              </div>
            </div>
          </div>
          <div class="row between-xs middle-xs px15 py5" v-if="isCheckoutPage && !isThankYouPage">
            <div class="col-xs-5 col-md-3 middle-xs">
              <div>
                <router-link
                  :to="localizedRoute('/')"
                  class="cl-tertiary links"
                >
                  {{ $t('Return to shopping') }}
                </router-link>
              </div>
            </div>
            <div class="col-xs-2 col-md-6 center-xs">
              <logo width="auto" height="41px" />
            </div>
            <div class="col-xs-5 col-md-3 end-xs">
              <div>
                <a
                  v-if="!currentUser"
                  href="#"
                  @click.prevent="gotoAccount"
                  class="cl-tertiary links"
                >{{ $t('Login to your account') }}</a>
                <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <category-menu class="hidden-xs" />
    </header>
    <div class="header-placeholder" />
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import TopPromotionalBar from 'theme/components/core/blocks/Header/TopPromotionalBar.vue'
import StoreLocator from 'theme/components/core/blocks/Header/StoreLocator.vue'
import CategoryMenu from './CategoryMenu'
import config from 'config'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    TopPromotionalBar,
    StoreLocator,
    CategoryMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 197,
      isMSearchInput: false
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)

    this.$bus.$on('open-search-input', () => {
      this.isMSearchInput = !this.isMSearchInput
    })
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    },
    beforeDestroy () {
      this.$bus.$off('open-search-input')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);

header {
  height: 318px;
  top: 0;
  z-index: 3;
  transition: top 0.3s ease-in-out;
  &.is-visible {
    top: 0;
  }
  @media (max-width: 1360px) {
    height: 275px;
  }
  @media (max-width: 1160px) {
    height: 269px;
  }
  @media (max-width: 767px) {
    top: -197px;
    height: 197px;
  }
}
.header-placeholder {
  height: 318px;
  @media (max-width: 1360px) {
    height: 275px;
  }
  @media (max-width: 1160px) {
    height: 269px;
  }
  @media (max-width: 767px) {
    top: -197px;
    height: 197px;
  }
}
.icon {
  opacity: 0.6;
  &:hover,
  &:focus {
    background-color: $color-icon-hover;
    opacity: 1;
  }
}
.right-icons {
  float: right;
}
.links {
  text-decoration: underline;
}
.main-header{
  padding: 30px 0;
}
@media (max-width: 767px) {
  .row.middle-xs {
    margin: 0 -15px;
    &.py5 {
      margin: 0;
    }
  }
  .col-xs-2:first-of-type {
    padding-left: 0;
  }
  .col-xs-2:last-of-type {
    padding-right: 0;
  }
  a,
  span {
    font-size: 12px;
  }
  .main-header{
    padding: 20px 0;
  }
}
</style>
