<template>
  <button
    type="button"
    class="relative cart-icon bg-cl-gray-f6f6f6 brdr-none inline-flex"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <img src="/assets/icons/cart-icon.png" alt="">
    <span
      class="minicart-count absolute flex center-xs middle-xs bg-cl-red-df342f"
      v-cloak
      v-show="totalQuantity"
      data-testid="minicartCount"
    >
      {{ totalQuantity }}
    </span>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>

<style lang="scss" scoped>
$white: color(white);
.cart-icon{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'GothamBook';
  span{
    font-family: 'Gotham';
    color: #fff;
  }
  .minicart-count {
    top: 11px;
    right: 14px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
  }
  @media (max-width: 1160px) {
    width: 60px;
    height: 60px;
    padding: 15px;
    .minicart-count{
      top: 8px;
      right: 8px;
      min-width: 18px;
      min-height: 18px;
      font-size: 11px;
    }
    img{
      width: 100%;
    }
  }
}
</style>
