<template>
  <div>
    <button
      type="button"
      class="store-locator bg-cl-transparent brdr-none p0 gotham medium"
    >
      <img src="/assets/icons/map-icon.png" alt="">
      <span>Store Locator</span>
    </button>
  </div>
</template>

<script>
import CompareIcon from '@vue-storefront/core/compatibility/components/blocks/Header/CompareIcon'
import { mapGetters } from 'vuex'

export default {
  name: 'StoreLocator',
  computed: {
    ...mapGetters('compare', ['getCompareProductsCount'])
  }
}
</script>

<style lang="scss" scoped>
  .store-locator{
    span{
      display: block;
      font-size: 18px;
      padding: 15px 0 0 0;
    }
    @media (max-width: 1360px) {
      span{
        padding-top: 8px;
        font-size: 16px;
      }
    }
    @media (max-width: 1160px) {
      span{
        font-size: 16px;
      }
      img{
        max-height: 30px;
      }
    }
  }
</style>
