<template>
  <div class="top-promotional-bar bg-cl-red-df342f">
    <div>
      <swiper class="swiper promotional-bar-menu flex" :options="swiperOption">
        <swiper-slide v-for="(promotionalText, index) in topPromotionalBar" :key="index">
          <router-link :to="promotionalText.link" v-html="promotionalText.name" />
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import topPromotionalBar from 'theme/resource/top-promotional-bar.json'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

export default {
  components: {
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      topPromotionalBar: topPromotionalBar.topPromotionalBar,
      swiperOption: {
        slidesPerView: 4,
        spaceBetween: 0,
        breakpoints: {
          1560: {
            slidesPerView: 4
          },
          1160: {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          },
          0: {
            slidesPerView: 1
          }
        }
      }
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-ebebeb: color(gray-ebebeb);

.top-promotional-bar{
  font-family: 'GothamBook';
  .promotional-bar-menu{
    .swiper-slide{
      text-align: center;
      position: relative;
      padding: 25px 15px;
      &::after{
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #ffffff;
        right: -1px;
        top: 0;
      }
      &:last-child:after{
        display: none;
      }
      a{
        font-size: 20px;
        color: #fff;
        strong{
          font-family: 'Gotham';
        }
        @media (max-width: 768px) {
          font-size: 22px;
        }
      }
    }
  }
}
</style>
