<template>
  <section class="dog-groomer flex middle-xs">
        <div class="dog-image w-50 hidden-xs">
          <img src="assets/dog-grooming.jpg" alt="dog-grooming" >
        </div>
        <div class="dog-service w-50" style="background-image: url(assets/bg-dog-grooming.jpg);">
          <div class="dog-service-caption">
            <h2>
              {{ 'Dog Grooming Service' }}
            </h2>
            <p>
              {{ 'Duis consectetur commodo tincidunt. Duis condo tincidunt. Aenean ligula urna, finibus a ante aliquet aliqe an ligula urna, finibus a ante at, aliquet aliquam nulla.' }}
            </p>
            <div class="dog-care-box flex">
                <div class="dog-care-item">
                  <img src="assets/icons/icon-dog-cutter.png" alt="icon-dog-cutter" >
                </div>
                <div class="dog-care-item">
                  <img src="assets/icons/icon-dog-spa.png" alt="icon-dog-spa" >
                </div>
                <div class="dog-care-item">
                  <img src="assets/icons/icon-dog-serve.png" alt="icon-dog-serve" >
                </div>
                <div class="dog-care-item">
                  <img src="assets/icons/icon-dog-report.png" alt="icon-dog-report" >
                </div>
            </div>
            <h3>
              Sed do eiusmod tempor incididunt ut labore iqua. <span>Utenad minim veniam.</span>
            </h3>
            <a href="#" class="btn find-more m0">Find Out More</a>
          </div>
        </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
.dog-groomer {
  overflow: hidden;
  .dog-service {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 945px;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 100px;
    .dog-service-caption {
      color: $white;
      h2 {
        font-size: 56px;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 31px;
        span {
          font-family: 'Gothambook';
          font-weight: normal;
        }
      }
      p {
        color: $white;
        font-size: 23px;
        margin-bottom: 20px;
      }
      .dog-care-box {
        margin: 30px 0;
        flex-wrap: wrap;
        .dog-care-item {
          width: 150px;
          height: 150px;
          align-items: center;
          display: flex;
          justify-content: center;
          border: 10px solid $white;
          border-radius: 50%;
          margin-right: 20px;
        }
      }
      .find-more {
        margin-top: 50px;
        color: $white;
        background: $black;
        min-width: 300px;
        min-height: 70px;
        line-height: 1;
        font-family: 'Gotham';
        font-size: 20px;
      }
    }
  }
  .dog-image {
      height: 945px;
      img {
        width: 100%;
        object-position: center;
        height: 100%;
        object-fit: cover;
      }
    }
}

@media (max-width: 1440px) {
.dog-groomer {
    .dog-image {
      height: 900px;
    }
    .dog-service {
       padding: 0 50px;
       height: 900px;
      .dog-service-caption {
         h2{
            font-size: 44px;
         }
         p {
            font-size: 21px;
         }
         h3 {
            font-size: 28px;
         }
         .dog-care-box {
           .dog-care-item {
            width: 125px;
            height: 125px;
            padding: 20px;
            margin:0 5px;
          }
         }
      }
    }
  }
}
@media (max-width: 1280px) {
.dog-groomer {
    .dog-image {
      height: 730px;
    }
    .dog-service {
       height: 730px;
       padding: 0 15px;
      .dog-service-caption {
         h2{
            font-size: 39px;
         }
         .dog-care-box {
           .dog-care-item {
            width: 110px;
            height: 110px;
            padding: 15px;
            border-width: 7px;
          }
         }
         .find-more {
            min-width: 300px;
            line-height: 0.9;
            font-size: 26px;
          }
      }
      .dog-service-image {
        height: 730px;
      }
    }
  }
}
@media (max-width: 1023px) {
.dog-groomer {
  overflow: visible;
    .dog-image {
      display: none;
    }
    .dog-service {
      height: auto;
      padding: 50px 15px;
      width: 100%;
      .dog-service-caption {
          text-align: center;
          margin: 0 auto;
         .dog-care-box {
            justify-content: center;
           .dog-care-item {
            width: 125px;
            height: 125px;
            padding: 15px;
          }
         }
         .find-more {
            margin: 30px auto 0;
          }
      }
    }
  }
}
@media (max-width: 575px) {
  .dog-groomer {
    .dog-service {
      .dog-service-caption {
          text-align: center;
          margin: 0 auto;
          p {
            font-size: 16px;
          }
          h2 {
            font-size: 28px;
          }
          h3,
          h4 {
            font-size: 24px;
          }
          .find-more {
            min-width: 270px;
            font-size: 20px;
          }
         .dog-care-box {
           .dog-care-item {
            margin: 3px;
            width: 85px;
            height: 85px;
            border-width: 5px;
            img {
              max-height: 90%;
            }
          }
         }
      }
    }
  }
}
</style>
