<template>
  <section class="pet-need bg-gray section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="petneed-content">
            <h2 class="main-title align-center">
              What Your Pet <span class="text-red">Needs</span>, When They Need It
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-4" v-for="petNeedSection in myJson" :key="petNeedSection.title" >
          <div class="pet-need-box">
            <div class="pet-need-icon f-icon">
              <img :src="`assets/icons/${petNeedSection.imgPath}`" alt="icon-free-delivery" >
            </div>
            <div class="pet-need-content">
              <h3 class="pet-need-title">
                {{ petNeedSection.title }}
              </h3>
              <h4 class="pet-need-text">
                {{ petNeedSection.text }}
              </h4>
              <a href="#" class="pet-need-link">
                {{ petNeedSection.link }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import petNeedJson from 'theme/resource/petneed.json';
export default {
  data () {
    return {
      myJson: petNeedJson
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red-e22d2d: color(red-e22d2d);
$black-1b1b1b: color(black-1b1b1b);
.petneed-content {
  margin-bottom: 40px;
}
.pet-need {
  .col-md-4 {
    &:nth-child(2) {
      .f-icon img {
        width: 25px;
      }
    }
  }
  .pet-need-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    .pet-need-icon {
      width: 100px;
      height: 100px;
      background: $red-e22d2d;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 30px;
      margin-top: 10px;
      border-radius: 50%;
      &.c-icon {
        img {
          width: 30px;
        }
      }
      img {
        height: auto;
        width: 40px;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }
    .pet-need-title {
      font-size: 31px;
      color: $black-1b1b1b;
    }
    .pet-need-text {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: normal;
      font-family: "GothamBook";
    }
    .pet-need-link {
      color:$black-1b1b1b;
      text-decoration: underline;
      font-size: 18px;
      display: inline-block;
      vertical-align: top;
      &:hover {
        color: $red-e22d2d;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: 1280px) {
  .petneed-content {
    margin-bottom: 10px;
  }
  .pet-need {
    .col-md-4 {
      &:nth-child(2) {
        .f-icon img {
          width: 20px;
        }
      }
    }
    .pet-need-box {
      .pet-need-icon {
        width: 70px;
        height: 70px;
        margin-right: 15px;
        margin-top: 0;
        img {
          width: 30px;
        }
      }
      .pet-need-title {
        font-size: 22px;
      }
      .pet-need-text {
        font-size: 16px;
      }
      .pet-need-link {
        font-size: 15px;
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .pet-need {
    .pet-need-box {
      display: block;
      text-align: center;
      .pet-need-icon {
        margin: 15px auto 0;
      }
      .pet-need-title {
        margin-top: 10px;
        font-size: 18px;
      }
      .pet-need-text {
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
  .petneed-content {
    max-width: 360px;
    margin: 0 auto 15px;
  }
}
@media only screen and (max-width: 575px) {
  .pet-need {
    .pet-need-box {
      .pet-need-title {
        font-size: 14px;
        min-height: 35px;
      }
      .pet-need-link {
        font-size: 12px;
      }
    }
  }
}
</style>
