<template>
  <section class="shopbydepartment section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h2 class="main-title large align-center">
              Shop by department
            </h2>
            <p class="align-center">Duis consectetur commodo tincidunt. Aenean ligula urna, finibus a ante at, aliquet aliquam nulla.</p>
        </div>
      </div>
      <div class="row">
        <div class="shopbydepartment-box" >
          <div class="shopbydepartment-item" v-for="shopByDepartmentSection in myJsonShop" :key="shopByDepartmentSection.title">
            <div class="shopbydepartment-icon">
              <img :src="`assets/shop-by-department/${shopByDepartmentSection.imgPath}`" alt="icon-free-delivery" >
            </div>
            <div class="shopbydepartment-content">
              <h3 class="shopbydepartment-title">
                {{ shopByDepartmentSection.title }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import shopByDepartmentJson from 'theme/resource/shopbydepartment.json';
export default {
  data () {
    return {
      myJsonShop: shopByDepartmentJson
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red-e22d2d: color(red-e22d2d);
$black-1b1b1b: color(black-1b1b1b);

.shopbydepartment {
    p {
      max-width: 80%;
      margin: 0 auto;
      font-size: 21px;
      @media (max-width: 1440px) {
        max-width: 100%;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        max-width: 80%;
      }
      @media (max-width: 575px) {
        font-size: 15px;
        max-width: 100%;
      }
    }
    .shopbydepartment-box {
      margin-top: 30px;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-flow: wrap;
      @media (max-width: 767px) {
        margin-top: 0;
      }
      .shopbydepartment-item {
        padding: 0 15px;
        min-width: 280px;
        margin: 50px auto 0;
        text-align: center;
        width: 16.66%;
        @media (max-width: 1760px) {
          min-width: 260px;
        }
        @media (max-width: 1600px) {
          min-width: 230px;
        }
        @media (max-width: 1440px) {
          min-width: 180px;
          margin-top: 30px;
        }
        @media (max-width: 1100px) {
          min-width: 210px;
        }
        @media (max-width: 920px) {
          min-width: 180px;
        }
        @media (max-width: 767px) {
          min-width: 165px;
        }
        @media (max-width: 575px) {
          padding: 0 5px;
          min-width: 130px;
        }
        &:hover {
           .shopbydepartment-icon {
              border-color: rgba(239,221,1,1);
            }
        }
        .shopbydepartment-icon {
          border-radius: 50%;
          overflow: hidden;
          height: 230px;
          width: 230px;
          margin: 0 auto 25px;
          border: 15px solid rgba(239,221,1,0);
          transition: all 0.5s linear;
          @media (max-width: 1600px) {
            height: 200px;
            width: 200px;
          }
          @media (max-width: 1440px) {
            height: 160px;
            width: 160px;
            margin-bottom: 15px;
            border: 10px solid rgba(239, 221, 1, 0);
          }
          @media (max-width: 1100px) {
            height: 150px;
            width: 150px;
          }
          @media (max-width: 767px) {
            height: 130px;
            width: 130px;
            margin-bottom: 5px;
          }
          @media (max-width: 575px) {
            height: 115px;
            width: 115px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
        .shopbydepartment-content {
          max-width: 94%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: start;
          min-height: 60px;
          @media (max-width: 1100px) {
            max-width: 100%;
            min-height: 40px;
          }
          .shopbydepartment-title {
              font-size: 28px;
              @media (max-width: 1760px) {
                font-size: 26px;
              }
              @media (max-width: 1600px) {
                font-size: 24px;
              }
              @media (max-width: 1440px) {
                font-size: 18px;
              }
              @media (max-width: 767px) {
                font-size: 16px;
              }
          }
        }
      }
    }
}
</style>
