<template>
  <section class="speical-offers section-padding hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="offer-content">
            <h2 class="heading text-red">
              {{ 'Special Offers!' }}
            </h2>
            <h3 class="sub-heading">
              {{ 'Quality pet products at affordable prices' }}
            </h3>
            <p>{{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor porta tristique. Aliquam vehicula rhoncus imperdiet gravida mi.' }}</p>
            <a href="#" class="btn">
              {{ 'Shop Now' }}
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="offer-img">
            <img src="assets/offer-img.png" alt="offer">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.offer-content {
  max-width: 630px;
  width: 100%;
  .btn {
    margin: 30px 0 0;
  }
  p {
    margin-top: 20px;
  }
}
.offer-img {
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

</style>
