<template>
  <section class="perfect-puppy whiskas-ocean bg-cl-sky-b8e7f7">
    <div class="container-fluid">
      <div class="perfect-puppy-content flex bottom-xs">
        <div class="product-img">
          <img src="assets/whiskas.png" alt="whiskas" >
        </div>
        <div class="perfect-puppy-details align-center">
          <h2 class="main-title large">
            {{ 'Whiskas Ocean Fish Dry Food' }}
          </h2>
          <h3>
            {{ 'Available in Multiple Sizes' }}
          </h3>
          <h4 class="text-off uppercase">20% off</h4>
          <p>
            {{ 'Today Only' }}
          </p>
          <a href="#" class="btn large">Buy Now</a>
        </div>
        <div class="puppy-img">
          <img src="assets/black-cat.png" alt="black-cat" >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.perfect-puppy{
  overflow: hidden;
}
.perfect-puppy-content {
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  .product-img {
    width: 28%;
    position: relative;
    right: -2.5%;
    img {
      max-width: 65%;
    }
  }
  .puppy-img {
    width: 28%;
    position: relative;
    left: 2%;
  }
  .perfect-puppy-details {
    padding: 130px 0 100px;
    width: 44%;
  }
  h3 {
    font-size: 32px;
    font-weight: normal;
    font-family: 'GothamBook';
  }
  h4 {
    font-size: 152px;
    line-height: 1;
    margin: 20px 0;
  }
  p{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @media (max-width: 1700px) {
    .product-img {
      img {
        max-width: 65%;
      }
    }
    h3{
      font-size: 28px;
    }
    h4{
      font-size: 100px;
    }
  }
  @media (max-width: 1360px) {
    .puppy-img {
      left: auto;
      right: -3%;
    }
    .product-img {
      right: 0;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 80px;
    }
    p {
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 12px;
    }
    .perfect-puppy-details {
      padding: 40px 0;
      width: 65%;
    }
  }
  @media (max-width: 1023px) {
    .perfect-puppy-details {
      width: 60%;
    }
    .puppy-img {
      width: 40%;
    }
    .product-img {
      display: none;
    }
    h3 {
      font-size: 13px;
    }
    h4 {
      font-size: 60px;
      margin: 10px 0;
    }
  }
  @media (max-width: 575px) {
    display: block;
    .perfect-puppy-details {
      width: 100%;
    }
    .puppy-img {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}
</style>
